---
import { Icon } from 'astro-icon/components';
import { Octokit } from 'octokit';

import { URLs, siteMetadata } from '~/constants';
import type { RepoStats } from '~/types';

const octokit = new Octokit();

const loadRepoStats = async (): Promise<RepoStats> => {
  try {
    const repository = await octokit.rest.repos.get({
      owner: siteMetadata.repo.owner,
      repo: siteMetadata.repo.name,
    });

    const latestRelease = await octokit.rest.repos.getLatestRelease({
      owner: siteMetadata.repo.owner,
      repo: siteMetadata.repo.name,
    });

    return {
      stargazersCount: repository.data.stargazers_count,
      forksCount: repository.data.forks_count,
      latestReleaseName: latestRelease.data.name,
    };
  } catch (error) {
    console.error('Failed to load repo stats', error);
    return {
      stargazersCount: 0,
      forksCount: 0,
      latestReleaseName: '',
    };
  }
};

const { forksCount, stargazersCount, latestReleaseName } =
  await loadRepoStats();
---

<a href={URLs.GITHUB.REPO} 
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub Repository"
    class="text-white hover:text-blue-300 hover:no-underline"
>
  <section class="flex flex-row gap-2">
    <Icon name="mdi:github" size={32}  />
    <div class="font-light">
      <div class="text-sm">{siteMetadata.repo.fullName}</div>
      <div class="flex flex-row gap-2 text-xs">
        <div class="flex flex-row gap-0.5 items-center">
          <Icon name="mdi:tag-outline" /> {latestReleaseName}
        </div>
        <div class="flex flex-1 gap-0.5 items-center">
          <Icon name="mdi:star-outline" /> {stargazersCount}
        </div>
        <div class="flex flex-1 gap-0.5 items-center">
          <Icon name="mdi:source-branch" /> {forksCount}
        </div>
      </div>
    </div>
  </section>
</a>