---
import { Icon } from 'astro-icon/components';
import { Octokit } from 'octokit';
import { siteMetadata, URLs } from '~/constants';
import type { RepoStats } from '~/types';

const octokit = new Octokit();

const formatCount = (count: number) => {
  return new Intl.NumberFormat('en', {
    notation: 'compact',
    maximumFractionDigits: 1,
  }).format(count);
};

const loadRepoStats = async (): Promise<RepoStats> => {
  try {
    const repository = await octokit.rest.repos.get({
      owner: siteMetadata.repo.owner,
      repo: siteMetadata.repo.name,
    });

    const latestRelease = await octokit.rest.repos.getLatestRelease({
      owner: siteMetadata.repo.owner,
      repo: siteMetadata.repo.name,
    });

    return {
      forks: formatCount(repository.data.forks_count),
      stars: formatCount(repository.data.stargazers_count),
      latestReleaseName: latestRelease.data.name?.replace('v', '') ?? '',
    };
  } catch (err) {
    console.error('Failed to load repo stats', err);
    return {
      forks: '',
      stars: '',
      latestReleaseName: '',
    };
  }
};

const { forks, stars, latestReleaseName } = await loadRepoStats();
---

<a
  href={URLs.GITHUB.REPO}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="GitHub Repository"
  class="atlassify-repo hover:text-atlassify-docs-repo-hover"
>
  <section
    class="flex flex-row gap-2 items-center motion-preset-pop hover:motion-preset-oscillate hover:motion-duration-500"
  >
    <Icon name="mdi:github" size={32} class="w-6 sm:w-10" />
    <div class="font-light max-sm:hidden">
      <div class="text-sm">{siteMetadata.repo.fullName}</div>
      <div class="flex flex-row gap-2 text-xs">
        <div class="flex flex-row gap-0.5 items-center">
          <Icon name="mdi:tag-outline" />
          {latestReleaseName}
        </div>
        <div class="flex flex-1 gap-0.5 items-center">
          <Icon name="mdi:star-outline" />
          {stars}
        </div>
        <div class="flex flex-1 gap-0.5 items-center">
          <Icon name="mdi:source-branch" />
          {forks}
        </div>
      </div>
    </div>
  </section>
</a>
