---
import { Icon } from 'astro-icon/components';
import { format } from 'date-fns';
import { Octokit } from 'octokit';
import { siteMetadata, URLs } from '~/constants';
import DownloadButton from '~/components/DownloadButton.astro';
import type {
  DownloadLink,
  DownloadLinks,
  HeroData,
  ReleaseAsset,
} from '~/types';

const octokit = new Octokit();

const getDownloadLinks = (assets: ReleaseAsset[]): DownloadLinks => {
  const getAssetLink = (filenameRegex: RegExp): string => {
    const asset = assets.find((item) => item.name.match(filenameRegex));
    return asset ? asset.browser_download_url : URLs.GITHUB.LATEST_RELEASE;
  };

  const supportedOSs: DownloadLink[] = [
    {
      os: 'macOS',
      name: 'macOS (Universal)',
      url: getAssetLink(/Atlassify-\d+.\d+.\d+-universal.dmg/g),
      isPrimary: true,
    },
    {
      os: 'Windows',
      name: 'Windows',
      url: getAssetLink(/Atlassify-Setup-\d+.\d+.\d+.exe/g),
      isPrimary: true,
    },
    {
      os: 'Linux',
      name: 'Linux (AppImage)',
      url: getAssetLink(/Atlassify-\d+.\d+.\d+.AppImage/g),
      isPrimary: true,
    },
    {
      os: 'Linux',
      name: 'Linux (deb)',
      url: getAssetLink(/atlassify_\d+.\d+.\d+_amd64.deb/g),
    },
    {
      os: 'Linux',
      name: 'Linux (rpm)',
      url: getAssetLink(/atlassify-\d+.\d+.\d+.x86_64.rpm/g),
    },
  ];

  const primaryDownloadLinks = supportedOSs.filter(
    ({ isPrimary, url }) => url && isPrimary,
  );

  const altDownloadLinks = supportedOSs.filter(
    ({ isPrimary, url }) => url && !isPrimary,
  );

  return {
    primary: primaryDownloadLinks.length
      ? primaryDownloadLinks
      : [supportedOSs[0]],
    alt: altDownloadLinks,
  };
};

const loadInitialData = async (): Promise<HeroData> => {
  try {
    const latestRelease = await octokit.rest.repos.getLatestRelease({
      owner: siteMetadata.repo.owner,
      repo: siteMetadata.repo.name,
    });

    const downloadLinks = getDownloadLinks(latestRelease.data.assets);

    return {
      downloadLinks,
      version: latestRelease.data.name,
      releaseDate: latestRelease.data.published_at
        ? format(latestRelease.data.published_at, 'dd/MM/yyyy')
        : '',
    };
  } catch (error) {
    return {
      downloadLinks: {
        alt: [],
        primary: [],
      },
      version: '',
      releaseDate: '',
    };
  }
};

const { downloadLinks, version, releaseDate } = await loadInitialData();
---

<div class="text-sm mt-4">
  {version ? (
      <>
        <div class="sm:flex md:grid md:grid-cols-2">
          {downloadLinks.primary.map((item) => (
            <DownloadButton item={item} />
          ))}
        </div>
        <div class="w-80 flex flex-col gap-2">
          <div>
            Latest version:{" "}
            <a
              class="text-atlassify-docs-download-link"
              href={URLs.GITHUB.LATEST_RELEASE}
            >
              {version}
            </a>
          </div>
          <div>Released on: {releaseDate}</div>
          {downloadLinks.alt.length > 0 && (
            <div>
              Also available on:
              <ul class="list-disc list-inside mt-2 ml-4">
                {downloadLinks.alt.map((platform) => (
                  <li class="mb-2.5">
                    <a
                      class="text-atlassify-docs-download-link"
                      href={platform.url || URLs.GITHUB.LATEST_RELEASE}
                    >
                      {platform.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          )}
        </div>
      </>
    ) : (
      <div class="flex">
        <DownloadButton
          item={{
            url: URLs.GITHUB.LATEST_RELEASE,
            name: "View GitHub Releases",
          }}
        />
      </div>
    )}
</div>
